.navbar-container{
  overflow: hidden;
  border-bottom: 1px solid #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1vw;
  font-weight: 300;

  .link{
    text-decoration: none;
    padding-right: 10px;
    color: #fff;
  }

  @media screen and (max-width: 500px){
    .link {
      float: none;
     
    }
  }

}

