.pcontainer{
    text-align: center;
}


.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

   

    .project-item{
        border-radius: 1opx;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 5px 10px;
        flex-direction: column;
        background-color: rgb(21,24,31);

        .project-content{
            display: flex;


            .left{
                flex-grow: 1;
            }

            .right{
                flex-grow: 1;
            }
        }

        img{
            width: 400px;
            height: auto;
            max-width: 100%;
            border-radius: 20px;
            
        }
        @media only screen and (max-width: 900px) {
       .project-content{
        flex-direction: column;
       }
        }

    }

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;

    a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .live{
        font-size: 14px;
        padding: 5px;
        border:2px solid #fff;
    }
}


 
}
/*
   @media only screen and (max-width: 900px) {
        .project-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }*/