@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: #000;
    color: #dadbde;
}

.container {
    width: 40vw;
}

/*hsl(0, 0%, 10%);*/
@media screen and (max-width: 1000px){
    .container{
        width: 70vw;
    }
}

@media screen and (max-width: 600px){
    .container{
        width: auto;
        padding: 0px 10px;
    }
}